DEBUG=
PORT=

#DBHOST=
#DBPORT=
#DBNAME=
DBURI=

TOKEN_SECERT=n7Vx3Qp9Lk2sD4mF8rT1yH6uJ0wZ5cBqE9aN3pR7tY2kM4dG8hS1uV6xC0jL5fP2
TOKEN_EXP=15d
DEFAULT_PASSWORD=StudiumPassword

EMAIL=DiegoCastro360z@gmail.com
PASS=scqm ugct uwmc bixg